altgraph==0.17.5
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
numpy==2.4.4
openpyxl==3.1.5
packaging==26.1
pandas==3.0.2
pefile==2024.8.26
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
setuptools==82.0.1
six==1.17.0
tzdata==2026.1
xlrd==2.0.2
